# Database
SPRING_DATASOURCE_URL={your-database-url}
SPRING_DATASOURCE_USERNAME={your-database-username}
SPRING_DATASOURCE_PASSWORD={your-database-password}
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# JWT
JWT_SECRET={your-secret-key}

# Cloudinary
CLOUDINARY_CLOUD_NAME={your-cloud-name}
CLOUDINARY_API_KEY={your-api-key}
CLOUDINARY_API_SECRET={your-api-secret}

# Redis
SPRING_REDIS_HOST={your-redis-host}
SPRING_REDIS_PORT={your-redis-port}
SPRING_REDIS_PASSWORD={your-redis-password}
